<template name="edit_project">
    <div class="container pt">
        <div class="row">
            <div class="col s10 offset-s1 post-container z-depth-3">
                <h2>Create Project</h2>
                <form class=" col s12 edit_project_form" enctype="multipart/form-data">
	                <div class="row">
						<div class="input-field col s12">
							<input type="text" id="name" name="name" value="{{name}}">
							<label for="name">Project Name</label>
						</div>
						<div class="input-field col s12">
							<input type="text" id="projectDate" name="projectDate" value="{{projectDate}}">
							<label for="projectDate">Project Date</label>
						</div>
						<div class="input-field col s12">
							<input type="text"  id="client" name="client" value="{{client}}">
							<label for="client">Client</label>
						</div>
						<div class="input-field col s12">
							<input type="text" id="type" name="type" value="{{type}}">
							<label for="type">Project Type</label>
						</div>
						<div class="input-field col s12">
							<textarea id="description" name="description" class="materialize-textarea">{{description}}</textarea>
							<label for="description">Description</label>
						</div>
						<div class="input-field col s12">
							<input type="file" name="projectImage" id="projectImage">
							<label for="projectImage">Current Image: </label>
							<img class="edit-image" src="{{projectImage}}">
						</div>
	                </div>
					<button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i></button>
                    <a href="/admin/projects" class="waves-effect waves-light btn"><i class="material-icons left">arrow_back</i>Go Back</a>
                </form>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</template>

