<template name="list_projects">
    <div class="container pt">
        <div class="row">
            <div class="col s10 offset-s1 post-container z-depth-3">
                <h2>Projects</h2>
               <a href="/admin/projects/add" class="waves-effect waves-light btn"><i class="material-icons right">add</i>Create Project</a>
                <br><br>
                <table class="striped">
                    <tr>
                        <th>Project Name</th>
                        <th>Date</th>
                        <th>Type</th>
                        <th></th>
                    </tr>
                    {{#each projects}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{projectDate}}</td>
                            <td>{{type}}</td>
                            <td><a href="/admin/projects/{{_id}}/edit" class="waves-effect waves-light btn"><i class="material-icons right">mode_edit</i>Edit</a> <button class="waves-effect waves-light btn delete_post red"><i class="material-icons right">delete</i>Delete</button></td>
                        </tr>
                    {{else}}
                        <tr>
                            <td>There are no projects</td>
                        </tr>
                    {{/each}}
                </table>
            </div>

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</template>