<template name="about">

    <!-- +++++ Welcome Section +++++ -->
	<header class="about-header">
	    <div class="container">
			<div class="row">
				<div class="col l8 offset-l2 centered">
					<img src="{{getAdminImage2}}" alt="Rathius" class="circle z-depth-3">
					<h1 class="center-align light-blue-text text-lighten-4">{{getAdminName}}</h1>
					<h6 class="center-align light-blue-text text-lighten-4">(aka Gary L. Glasscock)</h6>
					<span class="skills">Web Developer Extraordinaire</span><br />
                    <span class="skills">Material Design Expert | BootStrap Aficionado | Foundation Enthusiast | Meteor Lover</span><br />
                    <span class="skills">Gamer From The WAY-BACK Machine | And All Around Crazy, Rocking, Hippie Dude</span>

				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</header> <!-- /header -->

 

	<!-- +++++ Information Section +++++ -->

	<div class="container">
		<div class="row">
			<div class="col s12 m6 bio mt">
				<p>I have been creating websites for quite some time. I began learning HTML in 1992 when the Internet first became publicly available through Compuserve, AOL, and other online communities/service providers. In 1993 I created my first commercial website for a non-profit organization. It was a single page monstrosity, but that's how they were built back then. I find it amusing that we are now back at that stage and once again building single-page websites, although with much better technology, newer languages such as CSS and Javascript, and better design principles. We've come a long way just to get back to where we started though. LOL</p>
			</div>
			<div class="col s12 m5 offset-m1 info mt">
				<h3> Some quick info:</h3>
				<ul>
					<li>Online presence since 1986</li>
					<li>Learned HTML from reading the source code of the websites I visited in 1992 and 1993</li>
					<li>Created my first commercial website for a non-profit in 1993</li>
					<li>Full-time freelance since 2009</li>
					<li>WordPress user since 2005</li>
					<li>WordPress developer since 2010</li>
					<li>My company, Bluegrass Web Services (now closed), provided web hosting accounts w/cPanel backend for users.</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row mt">
			<div class="col s12">
				<h4>THE SKILLS</h4>
				Web Design
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
						<span class="sr-only">85% Proficiency</span>
					</div>
				</div>

				Full-Stack Web Development
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
						<span class="sr-only">90% Proficiency</span>
					</div>
				</div>

				HTML + CSS
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 98%;">
						<span class="sr-only">98% Proficiency</span>
					</div>
				</div>

				Javascript
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
						<span class="sr-only">85% Proficiency</span>
					</div>
				</div>

				Meteor JS
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
						<span class="sr-only">80% Proficiency</span>
					</div>
				</div>

			</div><!-- /col-lg-6 -->
		</div><!-- /row -->
	</div><!-- /container -->

</template>
