<template name="project">

    <!-- +++++ Projects Section +++++ -->
	
	<div class="container pt">
		<div class="row mt">
			<div class="col s6 offset-s3 centered">
				<h3>{{name}}</h3>
				<hr>
				<p>{{description}}</p>
			</div>
		</div>
		<div class="row mt centered">	
			<div class="col s10 offset-s1">
				<p><img class="responsive-img" src="{{projectImage}}" alt=""></p>
				<p><bt>Client: <a href="#">{{client}}</a></bt> - <bt>Type: <a href="#">{{type}}</a></bt> - <bt>Date: <a href="#">{{projectDate}}</a></bt></p>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->

</template>