<template name="home">

    <!-- +++++ Welcome Section +++++ -->
	<header>
	    <div class="container">
			<div class="row">
				<div class="col l10 offset-l1 centered">
					<img src="{{getAdminImage}}" alt="Rathius" class="circle z-depth-3">
					<h1 class="center-align light-blue-text text-lighten-4">{{getAdminName}}</h1>
					<h6 class="center-align light-blue-text text-lighten-4">(aka Gary L. Glasscock)</h6>
					<span class="skills">Web Developer Extraordinaire & IT Ninja</span><br />
                    <span class="skills">Material Design Expert | BootStrap Aficionado | Foundation Enthusiast | Meteor Lover</span><br />
                    <span class="skills">Gamer From The WAY-BACK Machine | And All Around Crazy, Rocking, Hippie Dude</span>
				
				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</header> <!-- /header -->
	
	{{> work}}

</template>