<template name="resume">

	<div class="container">
		<div class="row light-blue darken-2 name-head z-depth-2">
			<h2 class="center-align yellow-text text-accent-2">Gary L. Glasscock</h2>
			<h3 class="center-align yellow-text text-accent-2">CV/Rèsume</h3>
		</div>
		
		<div class="row grey lighten-5 main-content">
			<div class="col s12">
				<div class="col m4 orange lighten-5 resume-labels z-depth-1">
					<h5 class="blue-text text-darken-2">Professional Skills Highlights</h5>
				</div>
				<div class="col m8">
					<ul class="collection">
						<li class="collection-item">Natural-born problem-solver that’s always thinking how to make things better, easier, and more efficient.</li>
						<li class="collection-item">Highly critical thinker.</li>
						<li class="collection-item">My intelligence and ability to think clearly in crisis situations are my best assets.</li>
						<li class="collection-item">My intelligence and ability to think clearly in crisis situations are my best assets.</li>
						<li class="collection-item">Extremely comfortable with the CLI and have used it on multiple Computer Operating Systems including various *nix OSes (Unix, Linux, BSD, OS X), Windows, MS-DOS, and CP/M.</li>
						<li class="collection-item">Excellent troubleshooting skills that have been developed and honed for over 45 years by working as a technician in various industries throughout my career.</li>
						<li class="collection-item">Programming in various computer languages</li>
						<li class="collection-item">Web Developer with over 6 years professional experience</li>
						<li class="collection-item">Team-player or solo; exceptional performance in high-production, deadline-oriented environments</li>
						<li class="collection-item">Excellent interpersonal and communication skills</li>
						<li class="collection-item">Great coding background, understands and employees industry standard practices in coding, i.e., easily readable formatting of code, plentiful commenting of code</li>
						<li class="collection-item">Excels in finding solutions and answers to problems/challenges</li>
						<li class="collection-item">10+ years Customer Service experience across several industries and very focused on the customer, be they internal or external</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row grey lighten-5">
			<div class="col s12">
				<div class="col m4 orange lighten-5 resume-labels z-depth-1">
					<h5 class="blue-text text-darken-2">Accomplishments</h5>
				</div>
				<div class="col m8 grey lighten-5">
					<ul class="collection">
						<li class="collection-item">Created first computerized auto body collision estimating program used by a local auto body repair shop in mid-80s, using a flat-file database system on MS-DOS.</li>
						<li class="collection-item">Successfully managed and completed two projects at a manufacturing company to update the electrical and computer system on three machines as well as writing the programs for these same devices, and the touchscreen user-interfaces used on each one using proprietary software and programming language specific to those systems.</li>
						<li class="collection-item">While working at an auto service center, I was instrumental in piloting the first marketing campaign for the company and was successful in helping to increase market share as well as overall profits I also implemented new processes for inventory control and improving overall productivity and workflow.</li>
						<li class="collection-item">Created my first commercial website in 1993 for a non-profit in Kentucky. I had learned HTML from viewing the source code of the websites i visited in the early days of the Internet.</li>
						<li class="collection-item">
							Published writer
							<ul class="collection">
								<li class="collection-item">Educators Use Money Wisely, Use Linux, Oct., 2003 osviews.com (defunct website)</li>
								<li class="collection-item">America's Army for Linux, Linux Journal, Sept. 2004</li>
								<li class="collection-item">Installing and Creating a Simple Responsive Website With WordPress, Software Developer's Journal, Issue 13/2013</li>
								<li class="collection-item">Cited with Richard Stallman, founder of the GNU Project and The Free Software Foundation, by Rajesh Swaminathan in his paper "Open Source Software: A discussion of the issues surrounding its applicability and usage in education"</li>
							</ul>
						</li>
						<li class="collection-item">Helped maintain and update the ACM’s (Association of Computing Machinery) student magazine website.</li>
						<li class="collection-item">Have maintained a personal website for over 20 years going through various iterations, development environments, web-authoring software, and content management systems.</li>
						<li class="collection-item">Was head of a web hosting company and maintained client websites as well as design and develop new client sites.</li>
						<li class="collection-item">Worked with Apache web server software</li>
						<li class="collection-item">Graduated college in 2005 with double-BS degrees. Computer Information Systems and Communications/Journalism.</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row grey lighten-5">
			<div class="col s12">
				<div class="col m4 orange lighten-5 resume-labels z-depth-1">
					<h5 class="blue-text text-darken-2">Professional Experience</h5>
				</div>
				<div class="col m8">
					<div class="row">
				        <div class="col s12">
				          	<div class="card blue accent-2">
					            <div class="card-content white-text">
									<div class="card-title">
										<div class="col s4">
											<p><strong>January 2010 - December 2015:</strong></p>
										</div>
										<div class="col s8">
											<p>President of Bluegrass Web Services, LLC. - Campbellsville, Kentucky</p>
										</div>
									</div>
					            </div>
								<div class="row">
									<div class="col s12">
										<ul class="collection">
											<li class="collection-item">Primary web designer/developer</li>
											<li class="collection-item">Organized workload and delegated work to proper teams</li>
											<li class="collection-item">Create and implement all marketing campaigns for BGWS</li>
											<li class="collection-item">Handle all customer service calls & issues </li>
										</ul>
									</div>
								</div>
				          	</div>
				        </div>
					</div>
					<div class="row">
				        <div class="col s12">
				          	<div class="card blue accent-2">
					            <div class="card-content white-text">
									<div class="card-title">
										<div class="col s4">
											<p><strong>August 2005 - December 2009:</strong></p>
										</div>
										<div class="col s8">
											<p>Two failed business ventures.</p>
										</div>
									</div>
					            </div>
					            <div class="row">
									<div class="col s12">
										<ul class="collection">
											<li class="collection-item">Life Coaching Practice</li>
											<li class="collection-item">Freelance Copywriting</li>
										</ul>
									</div>
								</div>
				          	</div>
				        </div>
					</div>
					<div class="row">
				        <div class="col s12">
				          	<div class="card blue accent-2">
					            <div class="card-content white-text">
									<div class="card-title">
										<div class="col s4">
											<p><strong>September 2003 - May 2005:</strong></p>
										</div>
										<div class="col s8">
											<p>Webmaster - Campus Times, Student Newspaper of Campbellsville University</p>
										</div>
									</div>
					            </div>
								<div class="row">
									<div class="col s12">
										<ul class="collection">
											<li class="collection-item">Designed and developed first website for the newspaper</li>
											<li class="collection-item">Maintenance of newspaper website and updated with each new issue</li>
										</ul>
									</div>
								</div>
				          	</div>
				        </div>
					</div>
					<div class="row">
				        <div class="col s12">
				          	<div class="card blue accent-2">
					            <div class="card-content white-text">
									<div class="card-title">
										<div class="col s4">
											<p><strong>September 2003 - May 2005:</strong></p>
										</div>
										<div class="col s8">
											<p>Associate Editor, Crossroads Magazine, the student magazine of the ACM (Association of Computing Machinery)</p>
										</div>
									</div>
					            </div>
								<div class="row">
									<div class="col s12">
										<ul class="collection">
											<li class="collection-item">Worked with writers to assist them in getting their articles ready for publication</li>
											<li class="collection-item">Assisted Editor-In-Chief with updating magazine website to XHTML 1.1 Strict using server side templates and scripting.</li>
										</ul>
									</div>
								</div>
				          	</div>
				        </div>
					</div>
				</div>
			</div>
		</div>
		<div class="row grey lighten-5">
			<div class="col s12">
				<div class="col m4 orange lighten-5 resume-labels z-depth-1">
					<h5 class="blue-text text-darken-2">Education</h5>
				</div>
				<div class="col m8">
					<div class="row">
						<div class="col s8">
							<p><strong>Academy of Art University, MFA Web Design/New Media</strong></p>
						</div>
						<div class="col s3 offset-s1">
							<p>Dec. 2017 expected graduation</p>
						</div>
					</div>
					<div class="row">
						<div class="col s8">
							<p><strong>Campbellsville University, Double BS - Computer Information Systems & Comm/Journalism</strong></p>
						</div>
						<div class="col s3 offset-s1">
							<p>May, 2005</p>
						</div>
					</div>
					<div class="row">
						<div class="col s8">
							<p><strong>RETS Electronic Institute, AS Electronic Engineering</strong></p>
						</div>
						<div class="col s3 offset-s1">
							<p>1985</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row grey lighten-5 last-row">
			<div class="col s12">
				<div class="col m4 orange lighten-5 resume-labels z-depth-1">
					<h5 class="orange lighten-5 blue-text text-darken-2 resume-labels">Additional Info</h5>
				</div>
				<div class="col m8">
					<p>Previously held Cisco Certification</p>
				</div>
			</div>
		</div>
	</div>

</template>