<template name="add_post">

    <div class="container pt">
        <div class="row">
            <div class="col s10 offset-s1 post-container z-depth-3">
                <h2>Create Post</h2>
	            <form class="col s12 add_post_form">
					<div class="row">
						<div class="input-field col s12">
							<input id="title" name="title" type="text" class="validate">
							<label for="title">Post Title</label>
						</div>
						<div class="input-field col s12">
							<input id="description" name="description" type="text" class="validate">
							<label for="description">Post Description</label>
						</div>
						<div class="input-field col s12">
							<textarea id="postContent" name="postContent" class="materialize-textarea"></textarea>
							<label for="postContent">Post Content</label>
						</div>
					</div>
                    <button class="btn waves-effect waves-light green darken-1 saveButton" type="submit" name="action">Save
    <i class="material-icons right">save</i>
  </button>
  					<!--<button class="btn waves-effect waves-light green darken-1 publishButton" type="submit" name="action">Publish
    <i class="material-icons right">publish</i>
  </button>-->
  					<a href="/admin/posts" class="waves-effect waves-light btn  orange darken-1"><i class="material-icons left">arrow_back</i>Go Back</a>
                </form>
            </div>
        </div>
    </div>

</template>

